.wrapperDashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.containerPies {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  @media (max-width: 860px) {
    flex-direction: column;
    align-items: center;
  }
}